name: Create Test build to `main/test/` folder

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push-to-main-test-folder:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # нужен полный fetch для коммитов

      - name: Set up Git user
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Set Moscow timezone for all commands
        run: |
          export TZ="Europe/Moscow"
          BUILD_TIMESTAMP=$(date "+%Y-%m-%d %H:%M:%S MSK")

      - name: Prepare scripts with build timestamp
        run: |
          mkdir -p scripts_for_build
          cp -r scripts/* scripts_for_build/

          sed -i "s/^build_timestamp=\".*\"/build_timestamp=\"$BUILD_TIMESTAMP\"/" \
            scripts_for_build/_xkeen/01_info/01_info_variable.sh

      - name: Create tar.gz archive
        run: |
          mkdir -p output
          cd scripts_for_build
          chmod +x xkeen
          find . -type f -o -type l | sed 's|^\./||' | tar -czf "../output/xkeen.tar.gz" -T -

      - name: Move archive to test folder in main
        run: |
          mkdir -p test
          mv output/xkeen.tar.gz test/

      - name: Clean up temporary files
        run: |
          rm -rf scripts_for_build output

      - name: Commit and push archive to test folder
        run: |
          git add test/xkeen.tar.gz
          git commit -m "[github-actions] automated compiling build" || echo "No changes"
          git push origin main
